services:
  workout_cool:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: workoutcool
    restart: unless-stopped
    networks:
      - proxy
      
networks:
  proxy:
    name: proxy
    external: true
